@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
#pp_logo {
    width: 75px;
    margin-left: 25p;
    float: left;
}
#valgomat-header {
    max-height: 40px;
    min-height: 40px; 
    
}
.container {
    width: 350px; /* Setter en fast bredde */
    min-height: 300px; /* Setter en minimumshøyde for å plassere innhold */
    position: absolute;
    top: 50%; /* Sentrerer vertikalt */
    left: 50%; /* Sentrerer horisontalt */
    transform: translate(-50%, -50%); /* Sentrerer container */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 10px;
}
#result {
    margin-top: 20px;
    font-weight: bold;
}
#quiz-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#next-button {
    display: block;
    margin: 0 auto;
}
#quiz-questions {
    max-height: 150px; /* Setter en fast maksimumshøyde for spørsmålene */
}
